/* ActivityVocales */
.dashboard-background {
  background: linear-gradient(135deg, #FFE5B4, #FFD580, #FFC266);
  min-height: 98vh;
  align-items: center;
  justify-content: center;

}

p.pronunciation {
    font-size: 20px;
    color: #000000;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 50px;

}

.vocales {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}
.GIF-container {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}
.nombre1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
}
p.descripcion-vocales {
     font-size: 27px;
    color: #333333;
    margin-bottom: 30px;
    margin-top: 20px;
}

